---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class ="content list">
<h2> Cats are hard. This is an instruction manual. </h2>
<img src="imgs/download.png" class="container"></img>
</div>

{% comment %}<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p> {{ post.content }} </p>
  <!-- no date  <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div> -->
  </div>
{% endfor %}
{% endif %}
</div>
{% endcomment %}
